li {
    list-style: none;
}

.news-card__item {
    width: 404px;
    margin: 1rem;
    /* background: rgb(196, 120, 120); */
}

.news-card__info h2 {
    text-align: start;
    margin: 0.5rem 0 0 0;
    font-weight: 500;
}

.news-card__info h3 {
    text-align: start;
    color: rgb(168, 166, 166);
    margin: 0.5rem 0 0 0;
    font-weight: 400;
}
